* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* The Game's Message to The Player */

.message {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 64px;
    position: absolute;
    left: 30%;
    right:30%;
    top:20%;
}

/* The Boxes */

.boxes {
    display: flex;
    position: absolute;
    top: 40%;
    left: 30%;
    right: 30%;
}

.box {
    justify-content: space-between;
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 5px solid white;
    margin-bottom: 50px;
}

.box-1 {
    background-color: red;
}
.box-2 {
    background-color:green;
}
.box-3 {
    background-color: blue;
}
.box-4 {
    background-color: yellow;
}

/* middle sized screens */
@media (min-width:1200px) and (max-width: 1600px) {
    .message {
    width: 50%;
    font-size: 42px;
    position: absolute;
    left: 28%;
    right:30%;
    top:20%;
    }
    
    .boxes {

        display: flex;
        justify-content: space-between;
    }

    .box {
    height: 200px;
    width: 200px;
    }
}

/* Tablet Screen */


@media (min-width:700px) and (max-width:1199px) {
    .message {
    width: 50%;
    font-size: 30px;
    position: absolute;
    left: 28%;
    right:30%;
    top:20%;
    }

    .box {
    height: 150px;
    width: 150px;
    }
    
}

/* Mobile Screens */

@media (max-width:699px) {
    .message {
    width: 50%;
    font-size: 20px;
    position: absolute;
    left: 28%;
    right:30%;
    top:20%;
    }

    .box {
    height: 100px;
    width: 100px;
    }
    
}
